body{
    background-color: #f1f1f1;
    color: #0f141e;

    font-size: 16px;
    font-weight: normal;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.avatar{
    width: 200px;
    border-radius: 50px;
    
}
.info p{
    color: #3160be; 
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    /* text-transform: uppercase;
    letter-spacing: 3px; */
    /* word-spacing: 42px;    */
}